<div class="yellow-navbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
        <div class="social-actions">
          <a href="mailto:community@internsgopro.com">
            <i class="fa fa-envelope"></i> <span>community@internsgopro.com</span>
          </a>
          <a target="_blank" class="social facebook" href="http://www.facebook.com/internsgopro">
            <i class="fa fa-facebook"></i>
          </a>
          <a target="_blank" class="social twitter" href="http://www.twitter.com/internsgopro">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="hidden-xs col-md-6 col-sm-6 col-lg-6">
        <div class="login-actions-container">
          <div class="login-actions">
            <% unless user_signed_in? %>
            <div class="<%= "active" if current_page?("/users/sign_up") %>">
              <%= link_to "Sign up", new_user_registration_path %>
            </div>
            <div class="<%= "active" if current_page?("/users/sign_in") %>">
              <%= link_to "Sign in", new_user_session_path %>
            </div>
            <% end %>

            <% if user_signed_in? %>
            Signed in as <%= current_user.email %>
            <div><%= link_to "Sign out", destroy_user_session_path,
              method: :delete %>
            </div> 
            
            <% end %>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>