<h4 class="sub-header">
  Select Extra Benefits
</h4>
<% check_boxes = {
  "extra_benefit_meal_voucher" => "Meal Vouchers",
  "extra_benefit_transport" => "Transport costs",
  "extra_benefit_insurance" => "Insurance",
  "extra_benefit_accomodation" => "Accomodation"
} %>

<div class="extra_benefits_check_boxes">

  <% check_boxes.each do |check_box, label| %>

  <div class="check_boxes optional rating_<%= check_box %>">
    <input type="hidden" name="rating[<%= check_box %>][]" value="">
    <span>
      <label for="rating_<%= check_box %>_true" class="extra_benefits_label">
        <input class="optional extra_benefit_input" type="checkbox" value="true" name="rating[<%= check_box %>][]" id="rating_<%= check_box %>_true">
        <div class="image_<%= check_box %>"></div>
        <p>
          <%= label %>
        </p>
      </label>
    </span>
  </div>

  <% end %>

</div>
