<p id="notice"><%= notice %></p>


</div> // End of container div.

<div class="employer-pic"></div>


  <div class="container employer-list">
    <div class="page-header"><h1>Certified companies</h1></div>
    <br>
    <div class="row">
      <% @employers.each do |employer| %>
        <div class="col-md-3">
          <div class="employer-box">
            <div class="padding">
              <a href="/unternehmen/89-p-absolventa-gmbh">
                <div class="logo-wrapper--big">
                  <img alt="Absolventa GmbH" title="Absolventa GmbH" src="/logo2.png">
                </div>
                <br>
                <%= link_to employer.name, employer %>
              </a>
              <br>
                <div class="text-info">
                    <%= employer.city %>
                </div>
            </div>
              <div class="employer-box__footer">
                <ul class="inline-list panel-tabs">
                  <li class="bottom">
                    <a href="/"><%= employer.offers_count %><br>Jobs</a>
                  </li>
                  <li class="bottom">
                    <a href="/">Reviews</a>
                  </li>
                  <li class="bottom">
                    <a href="/">Awards</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<div class="container">

<div class="play">LOREM<div class="test2"></div></div>
 <%= link_to "New Employer", new_admin_employer_path, class: "new" %>

<div class="page-header">
  <h1>Listing Employers</h1>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Sector</th>
      <th>Label</th>
      <th>Logo</th>
      <th>Photo</th>
      <th>Video</th>
      <th>Descr0 title</th>
      <th>Descr0 full</th>
      <th>Descr1 title</th>
      <th>Descr1 full</th>
      <th>Descr2 title</th>
      <th>Descr2 full</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.name %></td>
        <td><%= employer.country %></td>
        <td><%= employer.city %></td>
        <td><%= employer.sector %></td>
        <td><%= employer.label %></td>
        <td><%= employer.logo %></td>
        <td><%= employer.photo %></td>
        <td><%= employer.video %></td>
        <td><%= employer.descr0_title %></td>
        <td><%= employer.descr0_full %></td>
        <td><%= employer.descr1_title %></td>
        <td><%= employer.descr1_full %></td>
        <td><%= employer.descr2_title %></td>
        <td><%= employer.descr2_full %></td>
        <td><%= link_to 'Show', employer %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
        <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
