<p id="notice"><%= notice %></p>

<div style="margin-top: 150px;">


<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employer.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @employer.city %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @employer.sector %>
</p>

<p>
  <strong>Label:</strong>
  <%= @employer.label %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @employer.logo %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @employer.photo %>
</p>

<p>
  <strong>Video:</strong>
  <%= @employer.video %>
</p>

<p>
  <strong>Descr0 title:</strong>
  <%= @employer.descr0_title %>
</p>

<p>
  <strong>Descr0 full:</strong>
  <%= @employer.descr0_full %>
</p>

<p>
  <strong>Descr1 title:</strong>
  <%= @employer.descr1_title %>
</p>

<p>
  <strong>Descr1 full:</strong>
  <%= @employer.descr1_full %>
</p>

<p>
  <strong>Descr2 title:</strong>
  <%= @employer.descr2_title %>
</p>

<p>
  <strong>Descr2 full:</strong>
  <%= @employer.descr2_full %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
<%= link_to "Delete Employer",
  admin_employer_path(@employer),
  method: :delete,
  data: { confirm: "Are you sure you want to delete this employer?" },
  class: "delete" %>


<ul class="actions">
  <li><%= link_to "New Offer", new_employer_offer_path(@employer),
    class: "new" %></li>
</ul>


<h1>Available Offers</h1>

<ul id="offers">
  <% @employer.offers.each do |offer| %>
    <li>
      #<%= offer.id %> -
      <%= link_to offer.name, [@employer, offer] %><br>
    </li>

</ul>
<% end %>

<%= simple_format(@employer.name) %>
 <% if @employer.attachment.present? %>
        <h4>Attachment</h4>
        <div class="attachment">
          <p>
            <%= link_to File.basename(@employer.attachment.url),
              @employer.attachment.url %><br><%= image_tag (@employer.attachment.url) %>
           (<%= number_to_human_size(@employer.attachment.size) %>)
</p> </div>
<% end %>
