<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employer.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @employer.city %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @employer.sector %>
</p>

<p>
  <strong>Label:</strong>
  <%= @employer.label %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @employer.logo %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @employer.photo %>
</p>

<p>
  <strong>Video:</strong>
  <%= @employer.video %>
</p>

<p>
  <strong>Descr0 title:</strong>
  <%= @employer.descr0_title %>
</p>

<p>
  <strong>Descr0 full:</strong>
  <%= @employer.descr0_full %>
</p>

<p>
  <strong>Descr1 title:</strong>
  <%= @employer.descr1_title %>
</p>

<p>
  <strong>Descr1 full:</strong>
  <%= @employer.descr1_full %>
</p>

<p>
  <strong>Descr2 title:</strong>
  <%= @employer.descr2_title %>
</p>

<p>
  <strong>Descr2 full:</strong>
  <%= @employer.descr2_full %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
