<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Listing Offers</h1>
  <ul class="actions">
        <li><%= link_to "New Offer", new_offer_path, class: "new" %></li>
  </ul>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employer</th>
      <th>Country</th>
      <th>City</th>
      <th>Sector</th>
      <th>Posted</th>
      <th>Deadline</th>
      <th>Salary</th>
      <th>Label</th>
      <th>Type</th>
      <th>Job description</th>
      <th>Candidate profile</th>
      <th>Organisation description</th>
      <th>Offer</th>
      <th>Apply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.name %></td>
        <td><%= offer.employer %></td>
        <td><%= offer.country %></td>
        <td><%= offer.city %></td>
        <td><%= offer.sector %></td>
        <td><%= offer.posted %></td>
        <td><%= offer.deadline %></td>
        <td><%= offer.salary %></td>
        <td><%= offer.label %></td>
        <td><%= offer.type %></td>
        <td><%= offer.job_description %></td>
        <td><%= offer.candidate_profile %></td>
        <td><%= offer.organisation_description %></td>
        <td><%= offer.offer %></td>
        <td><%= offer.apply %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
