<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @offer.employer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @offer.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @offer.city %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @offer.sector %>
</p>

<p>
  <strong>Posted:</strong>
  <%= @offer.posted %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @offer.deadline %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @offer.salary %>
</p>

<p>
  <strong>Label:</strong>
  <%= @offer.label %>
</p>

<p>
  <strong>Type:</strong>
  <%= @offer.type %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @offer.job_description %>
</p>

<p>
  <strong>Candidate profile:</strong>
  <%= @offer.candidate_profile %>
</p>

<p>
  <strong>Organisation description:</strong>
  <%= @offer.organisation_description %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @offer.offer %>
</p>

<p>
  <strong>Apply:</strong>
  <%= @offer.apply %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
