<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= @review.employer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @review.country %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @review.sector %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @review.salary %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @review.recommendation %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
